<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>abc</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



	<link href="/styles/home.css" th:href="@{/styles/home.css}" type="text/css" media="all" rel="stylesheet" />

	<link href="/styles/exchangeForm.css" th:href="@{/styles/exchangeForm.css}" type="text/css" media="all"
		rel="stylesheet" />


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>
	<div id="postResultDiv" align="center"></div>
	<div class="container my-2">
		<ul class="topNavigationBar">
			<li><a th:href="@{'/usercoins/' + ${currentUserId}}">ABC</a></li>
			<li><a th:href="@{'/usercoins/' + ${currentUserId}}">Home</a></li>
			<li><a th:href="@{'/usercoins/' + ${currentUserId} + '/coins'}">Cryptos</a></li>
		</ul>
	</div>

	<div class="container my-2">

		<table class="table table-borderless table-hover table-responsive-md">
			<thead>
				<tr>
					<th>No. of crypto coin types</th>
					<th>Total no. of coins</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td th:text="${totalCoins}">
						</tdht>
					<td th:text="${#aggregates.sum(listUserCoins.![userCoinAmount])}"></td>

				</tr>

			</tbody>
		</table>

	</div>
	<div class="container my-2">

		<h1 class="heading">Crypto Coins</h1>

		<table class="table table-borderless table-hover table-responsive-md">
			<thead >
				<tr id="theadCoinTable">
					<th>photo</th>
					<th>coins</th>
					<th>amount</th>
					<th>Exchange</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="userCoins , iStat : ${listUserCoins}" th:with="fromCoinName = ${userCoins.coinName}, userId =  ${userCoins.userId}">
					<td> <img th:src="${userCoins.coinPhoto}" width="50" height="40"></td>
					<td th:text="${userCoins.coinName}"></td>
					<td th:text="${userCoins.userCoinAmount}"></td>
					<td>


						<!-- Button trigger modal -->
						<button type="button" id="exchange-btn" class="btn btn-exchange btn-primary" th:data-id="${fromCoinName}" th:data-user-id="${userId}" data-toggle="modal"
							data-target="#exampleModal"
							th:onclick="'exchanger('+${userCoins.coinId}+','+${userCoins.userCoinAmount}+')'">Exchange</button>




					</td>

				</tr>

			</tbody>
		</table>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Exchange <strong id="coin-name" class="fromCoinName"></strong>
							coins with.. </h5>
						<button type="button" class="close reset-exchange" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div id="exchange-form">
							<input type="hidden" id="current-user-Id" name="currentUserId">
							
							<input type="hidden" id="fCoin" name="fromCoin" class="form-control">

							<input type="hidden" id="aCoins" name="availableCoins">



							<label for="tCoin">Available Coins:</label>
							<select id="tCoin" name="toCoin">
								<option th:each="datas : ${coinsList}" th:text="${datas.coinName}"
									th:value="${datas.coinId}"></option>
							</select>

							<label for="coinAmt">Amount of <strong class="fromCoinName"></strong> :
							</label> <input type="number" id="coinAmt" name="coinAmount" placeholder="No of coins.."
								class="form-control" required>
							
						</div>
						
                       <p id="result-msg"></p>

					</div>
					<div class="modal-footer">

						<button id="save-exchange" type="button" class="btn btn-primary btn-success">Exchange</button>

						<button id="reset-btn" type="button" class="btn btn-secondary reset-exchange" data-dismiss="modal">Close</button></input>

					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<script type="text/javascript" th:src="@{/js/post.js}"></script>

</body>




</html>